*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    background-color: #130f40;
    background-image: url('../image/az-04.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header{
    display: flex;
    align-items: center;
}

.header__logo{
    margin: 20px 0 0 20px ;
    height: 80px;
}

.header__title{
    padding-left: 140px;
    font-size: 60px;
    flex: 0 90%;
    display: flex;
    justify-content: center;
    color: #ff5252;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 100%;
    perspective: 1000px;
}

.card{
    position: relative;
    height: 500px;
    width: 22%;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;    
}

.card:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.card__front{      
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.25));
}

.card__front__image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
    box-shadow:       15px 10px 10px #130f40;
}

.card__front__name{
    opacity: .8;
    background-color:#808080;
    font-size: 30px;
    position: relative;
    top: -50%;
    text-align: center;
    color: #fff;
}

.card__back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0;
    background-color: #ffebeb;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card__back__title{
    color: #424242;
}

.card__back__info{
    text-align: justify;
    padding: 15px;
    line-height: 1.5;
}

.card__back a{
    background-color: #ff5252;
    text-decoration: none;
    padding: 10px 18px;
    color: rgb(243, 238, 229);
    opacity: .6;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.card__back a:hover{
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
